.advantages {
    background-color: #fff;
    
    [class*="col"] {
        position: relative;
        display: flex;
        justify-content: center;

        &:before,
        &:after {
            position: absolute;
            top: 1rem;
            bottom: 1rem;
            border-right: 1px solid $dark-grey;
        }

        &:after {
            content: "";
            right: 0;
        }

        &:first-child {
            &:before {
                content: "";
                left: 12px;
            }
        }

        &:last-child {
            &:after {
                right: 12px;
            }
        }
    }
}

.advantage-item {
    width: 100%;
    max-width: 29rem;
    align-items: center;
    margin: 0 auto;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.4rem;
        height: 8.4rem;
        border-radius: 50%;
        background: $grey;

        img {
            max-width: 4.8rem;
            max-height: 4.8rem;
        }
    }

    &__info {
        width: calc(100% - 8.4rem);
        padding-left: 2.4rem;
    }

    &__subtitle {
        font-family: "SF Pro Light", sans-serif;
        font-size: 1.5rem;
        margin-top: .8rem;
        opacity: .7;
    }
}

@media (max-width: 1600px) {
    .advantage-item {
        max-width: 25rem;

        &__icon {
            width: 6rem;
            height: 6rem;

            img {
                max-width: 3.2rem;
                max-height: 3.2rem;
            }
        }

        &__info {
            width: calc(100% - 6rem);
            padding-left: 1.6rem;
        }

        &__title {
            font-size: 1.5rem;
        }

        &__subtitle {
            font-size: 1.4rem;
            margin-top: .4rem;
        }
    }
}

@media (max-width: 1200px) {
    .advantages {
        [class*="col"] {
            padding-top: 12px;
            padding-bottom: 12px;

            &:before,
            &:after {
                display: none;
            }
        }
    }

    .advantage-item {
        max-width: 100%;
    };
}

@media (max-width: 575px) {
    .advantage-item {
        &__icon {
            width: 8.4rem;
            height: 8.4rem;

            img {
                max-width: 4.8rem;
                max-height: 4.8rem;
            }
        }

        &__info {
            width: calc(100% - 8.4rem);
        }

        &__title {
            font-size: 1.7rem;
        }

        &__subtitle {
            font-size: 1.5rem;
            margin-top: .8rem;
        }
    }
}