.filters-group-wrapper {
    max-height: 100%;
    background: #fff;
    overflow-x: auto;
}

.filters-group {
    border-radius: 3px;

    &__item {
        padding: 2rem 2.4rem;
        border-bottom: 1px solid $dark-grey;
    }

    &__toggler {
        font-size: 2.1rem;
        line-height: 2.5rem;
        position: relative;
        width: 100%;
        text-align: left;
        padding: 0;
        background: transparent;

        &:after {
            content: "\f107";
            font-family: "fontello";
            position: absolute;
            top: 0;
            right: 0;
            transition: transform .2s ease;
        }
    }

    &__toggler[aria-expanded="true"] {
        &:after {
            transform: rotate(180deg);
        }
    }

    &__collapse {
        padding: 0;
    }

    &__content {
        padding-top: 2rem;
    }

    &__actions {
        position: sticky;
        bottom: 0;
        padding: 2.4rem;
        background-color: #fff;
        z-index: 5;

        > * {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 1rem;
            color: #fff !important;
        }

        .action-clear {
            background-color: $red;

            &:hover {
                background-color: darken($red, 10%);
            }
        }

        
        i {
            font-size: 86%;
            margin: 0 .8rem 0 0;
        }
    }
}

// -- price range
.price-range {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .form-control {
        width: calc(50% - 1rem);
        padding: .7rem 1.5rem;
        border: 1px solid #D6D6D6;
    }

    &:after {
        content: "-";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// -- color picker
.c-picker {
    &__item {
        display: flex;
        margin: 0 2rem 2rem 0;
    }

    &__input {
        display: none;

        &:checked {
            + label {
                box-shadow: 0 0 0 1px $black;
            }
        }
    }

    &__label {
        width: 2.8rem;
        height: 2.8rem;
        margin: 0;
        border: 1px solid #D6D6D6;
        border-radius: 3px;
        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    .filters-group {
        &__toggler {
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }
}

@media (max-width: 992px) {
    .filters-group-wrapper {
        width: 290px;
        height: 100%;
    }
}
