.order-status {
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 8rem 0;

    &.success {
        svg {
            fill: $green;
        }

        .order-status__text {
            color: $green;
        }
    }

    &__icon {
        width: 10rem;
        height: 10rem;
        margin-bottom: 2.4rem;
    }

    svg {
        max-width: 100%;
        max-height: 100%;
        fill: $red;
    }

    &__text {
        font-size: 2.4rem;
        color: $red;
    }
}